.login-popup {
    position: absolute;
    z-index: 1;
    background-color: #00000090;
    width: 100%;
    height: 100%;
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popoup-title{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-popup-title img{
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    width: 530px;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.login-popup-container button {
    background-color: tomato;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    margin-top: -15px;
    gap: 5px;
}

.login-popup-condition input {
    margin-top: 5px;
    width: 14px;
    display: block;
}

.login-popup p span {
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width: 750px){
    .login-popup-inputs{
        width: 380px;
    }
}
